﻿@using cotizador.Models
@model IEnumerable<PackagesproViewModels>


<h2>Paquetes</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Paquete")
        </th>
        <th>
            @Html.DisplayName("Articulo")
        </th>
        <th>
            @Html.DisplayName("Cantidad por paquete")
        </th>
        <th>
            @Html.DisplayName("Descuento articulo regular")
        </th>
        <th>
            @Html.DisplayName("Descuento paquete")
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpCant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpDisc)
            </td>
        </tr>
    }
</table>