﻿@using cotizador.Models
@model IEnumerable<ResultadosViewModel>

<h2>Cotizaciones</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombres")
        </th>
        <th>
            @Html.DisplayName("Apellidos")
        </th>
        <th>
            @Html.DisplayName("RUC")
        </th>
        <th>
            @Html.DisplayName("Total")
        </th>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Vendedor")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendedorName)
            </td>
            <td>@Html.ActionLink("Detalles", "ForArticle", new { QuoteID = item.QuoteID }) </td>
        </tr>
    }

</table>