﻿@using cotizador.Models
@model CreateQuoteViewModel
@{
    ViewBag.Title = "Create Quote";
}

<div class="row">
    <section id="loginForm">
            <h2>Crear Cotizacion</h2>
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.RUC, new { @class = "form-control", placeholder = "Ruc", id = "Ruc",  required = true })
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Nombres", id="FirstName", required = true })
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Apellidos", id = "LastName",  required = true })
            </div>

    </section>
</div>
<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            @Html.EditorFor(model => model.search, new { htmlAttributes = new { @class = "form-control", placeholder = "Escribe el nombre del articulo que deseas agregar", id = "Products" } })
            <span class="input-group-addon">+</span>
        </div>
    </div>
    <div class="col-sm-3">
        <div id='dropdown'>
            <select id="options" class="form-control">
                <option>Agregar paquete</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div id='dropdown2'>
            <select id="optionse" class="form-control">
                <option>Vendedor</option>
            </select>
        </div>
    </div>
</div>
<hr />
    <div>
        <table id="MyTable">
            <thead>
                <tr>
                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Precio unitario</th>
                    <th>Descuento (%)</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <br />
    <center>
        <input type="button" id="SaveButton" data-toggle="modal" data-target="#myModal"  value="Guardar Cotizacion" class="btn btn-primary" />
    </center>

       <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Total Cotizacion</h4>
            </div>
            <div class="modal-body" id="Content">
                <div >Total de la cotizacion: <div id="tota"></div></div>
                <div >Porcentaje IVA 14%: <div id="tota2"></div></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <input type="button" id="Confirm" value="Guardar Cotizacion" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>


