﻿@model GrupoValorCotizador.Models.QuoteProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuoteProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quote.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
