﻿@model IEnumerable<GrupoValorCotizador.Models.QuoteProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quote.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuoteProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuoteProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuoteProductID })
        </td>
    </tr>
}

</table>
